@{
    ViewData["Title"] = "Home Page";
}
 
<h1> Hello Anish Welcome to front page....</h1>

@{
    var name = "Anish";
}

<h2> My name is @name</h2>

@{
    var a = 10;
    var b = 20;
    var c = a + b;
}

<p> The sum is @c</p>